<!-- ./app/templates/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>www: home</title>
</head>

<body>
<div class="header">
    <h1>what we watching?</h1>
    {% if name %}
    <button id="userPageButton" data-username="{{ name }}">user page</button>
    {% else %}
    <button id="signInButton">sign in</button>
    {% endif %}
</div>
<div class="menu">
    <button id="homeButton">home</button>
    <button id="ratingButton">rating</button>
    <button id="genreButton">genre</button>
    <button id="similarButton">similar</button>
</div>
<div class="movies">
    {% for movie in movies %}
    <div class="movie">
        <div class="imageInfo">
            <img class="movieImage" src="{{ movie.full_url }}" alt="Poster for {{ movie.title }}">
            <div class="movieInfo" style="display: none;">
                <h3><u>{{ movie.title }}</u></h3>
                <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
                <p><strong>Production Company:</strong> {{ movie.production_comp }}</p>
                <p><strong>Genres:</strong> {{ movie.genres }}</p>
                <p><strong>Language:</strong> {{ movie.original_language|upper }}</p>
                <p><strong>Vote Average:</strong> {{ movie.vote_average }}/10</p>
                <p>(Click to flip back)</p>
            </div>
        </div>
        <div class="title">
            <h2>{{ movie.title }}</h2>
            <button class="addFavouriteButton" data-movie="{{ movie }}">+</button>
        </div>
    </div>
    {% endfor %}
</div>
<div class="amount">
    <p>show how many films: </p>
    <a href="{{ url_for('home', amount=10) }}">
        <button>10</button>
    </a>
    <a href="{{ url_for('home', amount=25) }}">
        <button>25</button>
    </a>
    <a href="{{ url_for('home', amount=50) }}">
        <button>50</button>
    </a>
    <a href="{{ url_for('home', amount=100) }}">
        <button>100</button>
    </a>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>