<!-- ./app/templates/new_user.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>www</title>
</head>

<body>
<div class="header">
    <h1>what we watching</h1>
    <button id="homeButton">home</button>
</div>
<div class="sign-in-container">
    <div class="sign-in">
        <h3>register new user</h3>
        <form>
            <input type="email" placeholder="email">
            <input type="text" placeholder="username">
            <input type="password" placeholder="password">
        </form>
        <div class="new-user-button">
            <button id="confirm">confirm</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>