<!-- ./app/templates/genre.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>www</title>
</head>

<body>
<div class="header">
    <h1>what we watching</h1>
    <button>sign in</button>
</div>
<div class="menu">
    <button id="homeButton">home</button>
    <button id="genreButton">genre</button>
    <button id="ratingButton">rating</button>
    <button id="similarButton">similar</button>
</div>
<div class="text-input">
    <form action="{{ url_for('similar') }}" method="get">
        <input type="text"
               id="titleInput"
               name="title"
               placeholder="eg: The Godfather"
               value="{{ request.args.get('title', '') }}">
        <button type="submit">submit</button>
    </form>
</div>
<div class="movies">
    {% for movie in movies %}
    <div class="movie">
        <img class="movieImage" src="{{ movie.poster_path }}" alt="Poster for {{ movie.title }}">
        <div class="movieInfo" style="display: none;">
            <h3><u>{{ movie.title|upper }}</u></h3>
            <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
            <p><strong>Genres:</strong> {{ movie.genres }}</p>
            <p><strong>Cast:</strong> {{ movie.cast }}</p>
            <p><strong>Vote Average:</strong> {{ movie.vote_average }}/10</p>
            <p>(Click to flip back)</p>
        </div>
        <h2 class="title">{{ movie.title }}</h2>
    </div>
    {% endfor %}
</div>
<div class="amount">
    <p>show how many films: </p>
    <button id="simAmount10Button">10</button>
    <button id="simAmount25Button">25</button>
    <button id="simAmount50Button">50</button>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>